<%
for( var i = 0; i < data.length; i++ ) {
	var vo = data[ i ]; 
%>
<td><%=vo.no%></td>
<td><%=vo.name%></td>
<td></td>
<td><%=vo.description%></td>
<td><img src="${pageContext.request.contextPath}/assets/images/delete.jgp"</td>
<%
}
%>